.App {
  text-align: center;
  padding: 20px;
  background-color: rgba(122, 142, 199, 0.918);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #fff2f2;
  padding: 15px;
  background-color: #e5e0ff;
}
